.head-back{
    height: 484px;
        width: 100%;
    background: rgba(12, 15, 36, 1);
}
.head-back h2{
    color: white;
        font-family: DM Sans;
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: 0.25px;
        text-align: center;
        padding-top: 120px;
}

.support-details{
    margin-left: 90px;
    padding-top: 81px;
    padding-bottom: 50px;
}
.support-details h3{
   
        font-family: DM Sans;
        font-size: 34px;
        font-weight: 500;
        line-height: 41px;
        letter-spacing: 0.37400001287460327px;
        text-align: left;
}
.support-details h3 span{
    height: 27px;
    width: 224px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    color: #01010E;
    margin-left: 30px;
    margin-top: -30px;
        /* left: 42px; */
        
}
.support-details p{
    height: 72px;
        width: 1100px;
        margin-left: 50px;
    margin-right: 90px;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 10px;
        color: #5C5C5C;

}
.support-sub-details {
    margin-bottom: 20px;
}
