.services {
  height: 1559px;
  width: 100%;
  background: rgba(250, 250, 255, 1);
  display: flex;
  flex-direction: column;
}

.head {
  height: 41px;
  width: 313px;
  margin-left: 563px;
  padding-top: 95px;
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  color: rgba(6, 12, 161, 1);
}
.service-col {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-left: 5%;
  margin-top: 123px;
}
.main-col {
  display: flex;
  flex-direction: column;
}
.im img {
  width: 340px;
  height: 320px;
}
.details2 h3 {
  height: 82px;
  width: 637px;
  font-family: DM Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  color: #060ca1;
}
.details2 p {
  height: 125px;
  width: 611px;
  margin-top: 16px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  color: #5c5c5c;
}
.service-col1 {
  display: flex;
  flex-direction: row;
  gap: 14.5rem;
}
.service-col2 {
  margin-top: 119px;
}
@media screen (max-width: 1350px){
    .service-col {
            display: flex;
            flex-direction: row;
        }
}
@media screen and (max-width: 1208px) {
    .service-col {
        flex-direction: row;
    }
}
@media screen and (max-width: 940px) {
    .head{
        margin-left: 130px;
        margin-bottom: 80px;
    }
  .services {
    height: 1900px;
  }
  .service-col{
      display: flex;
      flex-direction: column;
  }
  .service-col1 {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-top: -130px;

    /* gap: 14.5rem; */
  }
  .service-col2{
      flex-direction: column-reverse;
      margin-top: 0px;
  }
  .service-col3{
      flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
.head{
    height: 41px;
        width: 277px;
        font-family: DM Sans;
            font-size: 28px;
            margin-left: 24px;
        
}
.service-col1 .details2 h3{

        font-size: 20px;
        
        line-height: 10px;
        
}
.services-col-1 .details2 h3{
    height: 60px;
        width: 338px;
        line-height: 20px;
        margin-bottom: 20px;
}
/* .services-col-1 .details2 p {
   margin-top: 50px;
} */
.service-col1 .details2 p {

    font-size: 16px;
    height: 191px;
        width: 323px;
        margin-top: -40px;
        vertical-align: top;

}
}

@media screen and (max-width: 480px) {
}
